<div class="page-container">
  <div class="container-overview">
    <div class="overview">
      <div class="overview-charts">
        <div class="overview-first-box">
          <div class="overview-ctr-charts">
            <div class="overview-chart_1">
              <%# First chart %>
                <div id="calendar_chart10">

                  <div style="position: relative;top: 3px;width:500px;height:300px;left: 33px;">

                    <canvas id="calendarChart10" data-graph-data="<%=@graph_data.to_json%>"></canvas>

                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx10 = document.getElementById('calendarChart10');

                    const gData10 = JSON.parse(ctx.dataset.graphData)[0]
                    // console.log("data", gData.datasets[0].data)
                    // console.log("label", gData.datasets[0].label)
                    // console.log("labels", gData.labels)


                    new Chart(ctx10, {
                      type: 'bar',
                      data: {

                        labels: gData10.labels,
                        datasets: [{
                          label: gData10.datasets[0].label,
                          data: gData10.datasets[0].data,

                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
              </div>
            </div>
          </div>
          <div class="overview-conver-charts">
            <div class="lateral-chart">
              <div class="overview-chart_2">


                  <div style="position: relative; top: 83px; width: 480px; height: 266px;">
                    <canvas id="calendarChart11" data-graph-data="<%=@graph_polar%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx11 = document.getElementById('calendarChart11');
                    const data11 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx11, {
                      type: 'polarArea',
                      data: {
                        labels: ['Sex: Male', 'Sex: Female', 'Age: 30+', 'City: Brazil', 'CTR: R$0,62'],
                        datasets: [{
                          label: '# of Votes',
                          data: [30, 55, 25, 30, 40],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
              </div>
            </div>
          </div>
        </div>
        <div class="overview-second-box">
          <div class="botton-overview">
            <div class="overview-chart_3_0">

                  <div style="position: relative;top: 3px;width:500px;height:300px;left: 33px;">

                    <canvas id="calendarChart12" data-graph-data="<%=@graph_data.to_json%>"></canvas>

                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx12 = document.getElementById('calendarChart12');

                    const gData12 = JSON.parse(ctx.dataset.graphData)[0]
                    // console.log("data", gData.datasets[0].data)
                    // console.log("label", gData.datasets[0].label)
                    // console.log("labels", gData.labels)


                    new Chart(ctx12, {
                      type: 'line',
                      data: {

                        labels: gData12.labels,
                        datasets: [{
                          label: gData12.datasets[0].label,
                          data: gData12.datasets[0].data,

                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>


            </div>

          </div>
          <div class="second-botton-overview">
            <div class="overview-chart_5">


                  <div style="width: 472px;height: 272px;position: relative;left: 91px;top: 14px;">
                    <canvas id="calendarChart13" data-graph-data="<%=@graph_data%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx13 = document.getElementById('calendarChart13');
                    const data13 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx13, {
                            data: {
                                datasets: [{
                                    type: 'bar',
                                    label: 'Bar Dataset',
                                    data: [10, 20, 30, 40]
                                }, {
                                    type: 'line',
                                    label: 'Line Dataset',
                                    data: [5, 15, 25, 50],
                                }],
                                labels: ['January', 'February', 'March', 'April']
                            },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            }
                          }
                        });
                  </script>

            </div>

            <div class="overview-chart_6">

                  <div style="width: 477px;height: 228px;position: relative;left: 1px;top: 12px;">
                    <canvas id="calendarChart14" data-graph-data="<%=@graph_data%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx14 = document.getElementById('calendarChart14');
                    const data14 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx14, {
                      type: 'pie',
                      data: {
                        labels: ['Idade: 18+', 'Idade: 30+', 'Idade: 50+'],
                       datasets: [{
                          label: 'Age',
                          data: [300, 50, 100],
                          backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                          ],
                          hoverOffset: 4
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
