<div class="page-container">
  <div class="container-overview">
    <div class="overview">
      <div class="overview-charts">
        <div class="overview-first-box">
          <div class="overview-ctr-charts">
            <div class="overview-chart_1">
              <%# First chart %>
                <div id="calendar_chart">

                  <div style="position: relative;top: 3px;width:500px;height:300px;left: 33px;">

                    <canvas id="calendarChart" data-graph-data="<%=@graph_data.to_json%>"></canvas>

                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx = document.getElementById('calendarChart');

                    const gData = JSON.parse(ctx.dataset.graphData)[0]
                    // console.log("data", gData.datasets[0].data)
                    // console.log("label", gData.datasets[0].label)
                    // console.log("labels", gData.labels)


                    new Chart(ctx, {
                      type: 'bar',
                      data: {

                        labels: gData.labels,
                        datasets: [{
                          label: gData.datasets[0].label,
                          data: gData.datasets[0].data,

                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
              </div>
            </div>
          </div>
          <div class="overview-conver-charts">
            <div class="lateral-chart">
              <div class="overview-chart_2">


                  <div style="position: relative; top: 83px; width: 480px; height: 266px;">
                    <canvas id="calendarChart1" data-graph-data="<%=@graph_polar%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx1 = document.getElementById('calendarChart1');
                    const data1 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx1, {
                      type: 'polarArea',
                      data: {
                        labels: ['Age: 18-30', 'Sex: Male', 'Sex: Female', 'City: Brazil', 'Hour: 15h', 'CTR: R$0,62'],
                        datasets: [{
                          label: '# of Votes',
                          data: [30, 55, 25, 30, 40, 60],
                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
              </div>
            </div>
          </div>
        </div>
        <div class="overview-second-box">
          <div class="botton-overview">
            <div class="overview-chart_3">

                  <div style="width: 296px; height: 260px; position: relative; top: 23px;">
                    <canvas id="calendarChart2" data-graph-data="<%=@graph_data%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx3 = document.getElementById('calendarChart2');
                    const data3 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx3, {
                      type: 'line',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: '# of Votes',

                          data: data3,

                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>


            </div>
            <div class="overview-chart_4">

                  <div style="width: 296px; height: 260px; position: relative; top: 23px;">
                    <canvas id="calendarChart3" data-graph-data="<%=@graph_data%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx4 = document.getElementById('calendarChart3');
                    const data4 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx4, {
                      type: 'line',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: '# of Votes',

                          data: data4,

                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
            </div>
          </div>
          <div class="second-botton-overview">
            <div class="overview-chart_5">


                  <div style="width: 472px;height: 272px;position: relative;left: 91px;top: 14px;">
                    <canvas id="calendarChart4" data-graph-data="<%=@graph_data%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx5 = document.getElementById('calendarChart4');
                    const data5 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx5, {
                            data: {
                                datasets: [{
                                    type: 'bar',
                                    label: 'Bar Dataset',
                                    data: [10, 20, 30, 40]
                                }, {
                                    type: 'line',
                                    label: 'Line Dataset',
                                    data: [5, 15, 25, 50],
                                }],
                                labels: ['January', 'February', 'March', 'April']
                            },
                          options: {
                            scales: {
                              y: {
                                beginAtZero: true
                              }
                            }
                          }
                        });
                  </script>

            </div>

            <div class="overview-chart_6">

                  <div style="width: 477px;height: 228px;position: relative;left: 1px;top: 12px;">
                    <canvas id="calendarChart5" data-graph-data="<%=@graph_data%>"></canvas>
                  </div>

                  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                  <script>
                    const ctx6 = document.getElementById('calendarChart5');
                    const data6 = JSON.parse(ctx.dataset.graphData)

                    new Chart(ctx6, {
                      type: 'pie',
                      data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                          label: '# of Votes',

                          data: data6,

                          borderWidth: 1
                        }]
                      },
                      options: {
                        scales: {
                          y: {
                            beginAtZero: true
                          }
                        }
                      }
                    });
                  </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
